<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-dhsc.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Provisional Products" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="/v3/dhsc">Dashboard</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/provisional/index">Add a provisional product</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/provisional/view">View provisional products</a>
        </li>
    </ol>
    <!-- 
  <a class="nhsuk-back-link" href="#">
    <span class="nhsuk-u-visually-hidden">Back to</span> Hospitals
  </a> -->

</nav>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-grid-column-full">
            <h1 class="nhsuk-heading-xl" id="pageHeading">
                <span class="nhsuk-caption-l">Edit a provisional product</span>
                <span class="nhsuk-u-visually-hidden"> - </span>
                <span id="full-product-name">
                    <span id="product-name">Review your changes</span>
                </span>
            </h1>
            <div id="productDetails">
                <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
                    Product details
                </h2>
                <ul class="nhsuk-card__actions">
                    <li class="nhsuk-card__action">
                        <a class="nhsuk-link" href="/v3/dhsc/provisional/add/index">Edit<span
                                class="nhsuk-u-visually-hidden"> product details</span></a>
                    </li>

                </ul>
            </div>
            <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Company name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        AAH Medical
                    </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Product name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Medication q 200mg tablets (2 x 24)
                    </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        VTM
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Metsulin
                    </dd>

                </div>

            </dl>
            <br>
            <br>
            <div id="originatorDetails">
                <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
                    Originator details
                </h2>
                <ul class="nhsuk-card__actions">
                    <li class="nhsuk-card__action">
                        <a class="nhsuk-link" href="/v3/dhsc/provisional/add/p2">Edit<span
                                class="nhsuk-u-visually-hidden"> originator details</span></a>
                    </li>

                </ul>
            </div>


            <dl class="nhsuk-summary-list ">

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Originator brand name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Abagna LTD
                    </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Originator status
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Unknown
                    </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Loss of exclusivity
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        19/12/2026
                    </dd>

                </div>

            </dl>

            <br>
            <br>
            <div id="refpriceDetails">
                <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
                    Reference price details
                </h2>
                <ul class="nhsuk-card__actions">
                    <li class="nhsuk-card__action">
                        <a class="nhsuk-link" href="/v3/dhsc/provisional/add/p3">Edit<span
                                class="nhsuk-u-visually-hidden"> reference price details</span></a>
                    </li>

                </ul>
            </div>


            <dl class="nhsuk-summary-list ">

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Reference anchor date
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        01/01/2025
                    </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Newer/older classification
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        New entrant
                    </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Reference price
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        £7.32
                    </dd>

                </div>
            </dl>


        </div>

        <a href="/v3/dhsc/provisional/add/confirm" class="nhsuk-button ">
            Confirm changes
        </a>
        <a href="/v3/dhsc/provisional/" class="nhsuk-button nhsuk-button--secondary">
            Discard changes
        </a>
    </div>
    <!-- End of content -->

</div>
</div>
{% endblock %}