<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-dhsc.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Upload your dataset" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc">Dashboard</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/datasources">View data</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/uploads/index">Uploaded data</a>
    </li>
  </ol>
  <!-- 
  <a class="nhsuk-back-link" href="#">
    <span class="nhsuk-u-visually-hidden">Back to</span> Hospitals
  </a> -->

</nav>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Upload your dataset</h1>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Make sure you upload your data in the correct format
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>If you are not sure your data is in the correct format you can use one of these templates:</p>

        <ul>
          <li><a href="#">Market authorisation data template</a></li>
          <li><a href="#">Supplementary protection certificate data template/a></li>
          <li><a href="#">VTM originator data template</a> </li>


        </ul>


      </div>
    </details>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="sort-by">
        Select dataset type
      </label>
      <select class="nhsuk-select" id="sort-by" name="sortBy">
        <option value="recently-published" selected>Choose your data</option>
        <option value="recently-published">Market authorisation data</option>
        <option value="recently-updated">Supplementary protection certificate data</option>
        <option value="most-views">VTM originator data</option>
      </select>
    </div>


    <div class="nhsuk-form-group nhsuk-form-group--error nhsuk-file-upload" data-module="nhsuk-file-upload" data-nhsuk-file-upload-init="">
            <h1 class="nhsuk-label-wrapper">
              <label class="nhsuk-label nhsuk-label--s" for="file-upload-6" id="file-upload-6-label">
                Choose an Excel file
              </label>
            </h1>
            <p id="file-upload-11-error" class="nhsuk-error-message">
              <span class="nhsuk-u-visually-hidden">Error:</span> The selected file has more than 5 errors, review and upload again
            </p>
            <div class="nhsuk-file-upload__drop-zone"><button class="nhsuk-file-upload__drop-button nhsuk-file-upload__drop-button--empty" type="button" id="file-upload-6" aria-labelledby="file-upload-6-label file-upload-6-comma file-upload-6"><span class="nhsuk-body nhsuk-file-upload__status" aria-live="polite">No file chosen</span><span class="nhsuk-u-visually-hidden" id="file-upload-6-comma">, </span><span class="nhsuk-file-upload__drop-button-group"><span class="nhsuk-button nhsuk-file-upload__choose-files-button nhsuk-button--secondary">Choose file</span> <span class="nhsuk-body nhsuk-file-upload__drop-instruction">or drop file</span></span></button><input class="nhsuk-file-upload__input" id="file-upload-6-input" name="file-upload-6" type="file" hidden="" tabindex="-1" aria-hidden="true"></div><span class="nhsuk-file-upload__announcements nhsuk-u-visually-hidden" aria-live="assertive"></span>
          </div>
          
          <p>Review the <a href="/v3/dhsc/upload-guidance" target="_blank">guidance page</a> to see what could be wrong</p>

    <a href="#" class="nhsuk-button">
      Continue
    </a>

    <!-- End of content -->

  </div>
</div>



{% endblock %}