<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-dhsc.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Data uploads" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc">Dashboard</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/datasources">View data</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/uploads/index">Uploaded data</a>
    </li> 
  </ol>
  <!-- 
  <a class="nhsuk-back-link" href="#">
    <span class="nhsuk-u-visually-hidden">Back to</span> Hospitals
  </a> -->

</nav>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>Review uploaded data</h1>

<div class="nhsuk-card nhsuk-card--warning">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">Important:</span>There are errors in your data
      </span>
    </h3>
    <p class="nhsuk-card__description">We could not validate four rows from the data uploaded. You can edit them using the table below or review your uploaded data and <a href="/v3/dhsc/uploads/upload-your-dataset">try again</a>. Editing them using the table will not discard your uploaded dataset</p>
  </div>
</div>

   
          <div class="large-table-container">
<table role="table" class="nhsuk-table-responsive" data-module="moj-sortable-table">
<thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" aria-sort="none">VTM <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" aria-sort="none">MA Date <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" aria-sort="none">Authorisation Number <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" aria-sort="none">Product Name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" aria-sort="none">Company Name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" aria-sort="none">dm+d Matched Name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th  >Action</th>
    </tr>
  </thead>



<tbody class="nhsuk-table__body">


<tr class="nhsuk-table__row">
<td class="nhsuk-table__cell">Azesaleic acid</td>
<td class="nhsuk-table__cell">22/04/2023</td>
<td class="nhsuk-table__cell">MA/2010/019</td>
<td class="nhsuk-table__cell">Aple tablets modified release</td>
<td class="nhsuk-table__cell">TestCompanyA</td>
<td class="nhsuk-table__cell">TestCompanyA</td>
<td class="nhsuk-table__cell"><a href="edit-azesaleic" class="nhsuk-link">Edit</a></td>
</tr>


<tr class="nhsuk-table__row">
<td class="nhsuk-table__cell">Abacavir</td>
<td class="nhsuk-table__cell">22/04/2024</td>
<td class="nhsuk-table__cell">MA/2010/220</td>
<td class="nhsuk-table__cell">Abacavir slow release 120mg tablets</td>
<td class="nhsuk-table__cell">Qualtrics Consulting Ltd</td>
<td class="nhsuk-table__cell">Qualtrucks Ltd</td>
<td class="nhsuk-table__cell"><a href="edit-abacavir" class="nhsuk-link">Edit</a></td>
</tr>


<tr class="nhsuk-table__row">
<td class="nhsuk-table__cell">Aspirin</td>
<td class="nhsuk-table__cell">22/04/1981</td>
<td class="nhsuk-table__cell">MA/2027/220</td>
<td class="nhsuk-table__cell">Aspirin ultra fast release 10mg tablets</td>
<td class="nhsuk-table__cell">Alpha Beta Int'l LTD</td>
<td class="nhsuk-table__cell">Aplha Bafta LTD</td>
<td class="nhsuk-table__cell"><a href="edit-aspirin" class="nhsuk-link">Edit</a></td>
</tr>


<tr class="nhsuk-table__row">
<td class="nhsuk-table__cell">Febuxostar</td>
<td class="nhsuk-table__cell">22/04/2023</td>
<td class="nhsuk-table__cell">MA/2010/019</td>
<td class="nhsuk-table__cell">TestA 120mg tablets</td>
<td class="nhsuk-table__cell">TestCompanyA</td>
<td class="nhsuk-table__cell">TestCompanyA</td>
<td class="nhsuk-table__cell"><a href="edit-febuxostar" class="nhsuk-link">Edit</a></td>
</tr>


</tbody>
</table>
        <!-- <table role="table" class="nhsuk-table-responsive" data-module="moj-sortable-table">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" aria-sort="none">VTM <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" aria-sort="none">MA Date <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" aria-sort="none">Authorisation Number <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" aria-sort="none">Product Name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" aria-sort="none">Company Name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" aria-sort="none">dm+d Matched Name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
    </tr>
  </thead>

  <tbody class="nhsuk-table__body">


        <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Azesaleic acid</td>
      <td class="nhsuk-table__cell">22/04/2023</td>
      <td class="nhsuk-table__cell">MA/2010/019</td>
      <td class="nhsuk-table__cell">Aple tablets modified release</td>
      <td class="nhsuk-table__cell">TestCompanyA</td>
      <td class="nhsuk-table__cell">TestCompanyA</td>
    </tr>

      <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Abacavir</td>
      <td class="nhsuk-table__cell">22/04/2024</td>
      <td class="nhsuk-table__cell">MA/2010/220</td>
      <td class="nhsuk-table__cell">Abacavir slow release 120mg tablets</td>
      <td class="nhsuk-table__cell">Qualtrics Consulting Ltd</td>
      <td class="nhsuk-table__cell">Qualtrucks Ltd</td>
    </tr>

       <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Aspirin</td>
      <td class="nhsuk-table__cell">22/04/1981</td>
      <td class="nhsuk-table__cell">MA/2027/220</td>
      <td class="nhsuk-table__cell">Aspirin ultra fast release 10mg tablets</td>
      <td class="nhsuk-table__cell">Alpha Beta Int'l LTD</td>
      <td class="nhsuk-table__cell">Aplha Bafta LTD</td>
    </tr>

    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Febuxostar</td>
      <td class="nhsuk-table__cell">22/04/2023</td>
      <td class="nhsuk-table__cell">MA/2010/019</td>
      <td class="nhsuk-table__cell">TestA 120mg tablets</td>
      <td class="nhsuk-table__cell">TestCompanyA</td>
      <td class="nhsuk-table__cell">TestCompanyA</td>
    </tr>
 
  </tbody>
</table>  -->

        </div> 

    <!-- End of content -->

  </div>
</div>

<!-- <a href="/v3/dhsc/uploads/ma-review2" class="nhsuk-button" id="confirmButton">
  Confirm data
</a> -->


<a href="/v3/dhsc/uploads/upload-your-dataset" class="nhsuk-button nhsuk-button--secondary">
  Cancel upload
</a>


<script>
  const input = document.getElementById("two-thirds");
  const button = document.getElementById("confirmButton");

  input.addEventListener("input", () => {
    const value = input.value.trim().toLowerCase();

    if (value.includes("error")) {
      button.href = "/v3/dhsc/uploads/block";
    } else {
      button.href = "/v3/dhsc/uploads/ma-review2";
    }
  });
</script>


{% endblock %}