<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-dhsc.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Edit Product Details" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="/v3/dhsc">Dashboard</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/search">Search for a product</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/product-details">Product page</a>
    </li>   

    </ol>
    <!-- 
  <a class="nhsuk-back-link" href="#">
    <span class="nhsuk-u-visually-hidden">Back to</span> Hospitals
  </a> -->

</nav>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
         <span class="nhsuk-caption-l">Metabet SR 1000mg tablets (Morningside Healthcare Ltd)(28 tablet - 2 x 14 tablets)</span>
        <h1>Edit aditional information</h1>
       
<p>Update the additional product details for this product</p>



<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="sort-by">
    Over the counter payments
  </label>
<div class="nhsuk-radios nhsuk-radios--inline" data-module="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input"  type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-inline">
          Yes
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input"  type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
          No
        </label>
      </div>
    </div>
</div>

<div class="nhsuk-form-group" >
  <label class="nhsuk-label" for="sort-by">
    Discontinued
  </label>
<div class="nhsuk-radios nhsuk-radios--inline" data-module="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input"  type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-inline">
          Yes
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input"  type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
          No
        </label>
      </div>
    </div>
</div>

<!-- <div class="nhsuk-form-group" >
  <label class="nhsuk-label" for="sort-by">
    Common Drug Reference (CDR) discontinued
  </label>
  <select class="nhsuk-select" id="sort-by" name="sortBy">
    <option value="recently-published" selected>Yes</option>
    <option value="recently-updated">No</option>
 
  </select>
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="sort-by">
    PIT
  </label>
  <select class="nhsuk-select" id="sort-by" name="sortBy">
    <option value="recently-published" selected>Yes</option>
    <option value="recently-updated">No</option>
 
  </select>
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="sort-by">
  Combination product
  </label>
  <select class="nhsuk-select" id="sort-by" name="sortBy">
    <option value="recently-published" selected>Yes</option>
    <option value="recently-updated">No</option>
 
  </select>
</div> -->

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="one-third">
    Percentage attribute
  </label>
  <input class="nhsuk-input nhsuk-u-width-one-third" id="one-third" name="oneThird" type="text">
</div>

     <a href="additional-info-confirm" class="nhsuk-button">
                Continue
            </a>

                 <a href="/v3/dhsc/product-details" class="nhsuk-button nhsuk-button--secondary">
              Discard changes
            </a>
        <!-- End of content -->

    </div>
</div>
{% endblock %}