// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Add your custom CSS/Sass styles below.

/* Spinner animation */

#spinner {
  animation-name: spin;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}

#spinner.done {
  animation-name: spinback;
  animation-duration: 1.25s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinback {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Container */

/* upload progress indicator */

.uploader-container,
.loading-container,
#camera-container,
.preview-container {
  margin: 0;
  display: flex;
  justify-content: center;
}

.bar_container {
  margin-top: 0 !important;
}

.progress-pie-chart,
.progress-spinner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  margin: 50px auto 0;
}

.progress-spinner {
  background-color: white;
}

.progress-pie-chart.gt-50,
.progress-spinner .gt-50 {
  background-color: #367c42;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}

.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #367c42;
  transform: rotate(60deg);
}

.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents,
.ppc-loading {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px / 2);
  top: calc(50% - 173.91304px / 2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ppc-percents span,
.ppc-loading span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #367c42;
}

.ppc-loading span {
  display: inline-block;
  position: relative;
  font-size: 1.4em;
  font-weight: normal;
  color: #000000;
  margin: 0;
}

/* == Converted from SCSS nested block == */

.ppc-loading span.done::before,
.ppc-loading span.done::after {
  content: "";
  left: 20%;
  font-weight: bold;
  margin: 1.5em 0 0.25em;
  top: -2em;
  position: absolute;
  zoom: 1;
}

.ppc-loading span.done::before {
  background: transparent;
  border: solid;
  border-color: #417505;
  border-width: 0 0 10px 10px;
  height: 24px;
  top: -3.3em;
  transform: rotate(-45deg);
  width: 40px;
}

.ppc-loading span.done:active::before {
  height: 100%;
  top: 0;
}

.ppc-loading span.done ~ * {
  display: none;
}

.pcc-percents-wrapper {
  display: flex;
  vertical-align: middle;
}

.ppc-percents,
.ppc-loading {
  margin-top: 0 !important;
}

/*Large Table Container*/
    .large-table-container {
          width: 100%;
          overflow-x: auto;
          position: relative;
          -webkit-overflow-scrolling: touch;
          /* Smooth scrolling on mobile */
        }


/*Full bleed - lets element expand*/
.full-bleed {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  overflow-x: auto;   /* this stops page scrolling */
}


////
/// Side nav component
////

.app-side-nav {
  @include nhsuk-media-query($until: desktop) {
    margin-bottom: nhsuk-spacing(5);
  }    
}

.app-side-nav__heading {
  color: $nhsuk-secondary-text-colour;
  margin-bottom: 12px;
  padding-top: 4px;
  @include nhsuk-font(19, $line-height: 1.25, $weight: bold);

  @include nhsuk-media-query($until: desktop) {
    color: $nhsuk-text-colour;
    @include nhsuk-font(26, $line-height: 1.25, $weight: bold);
  }
}

.app-side-nav__list {
  margin-bottom: 0;
  @include nhsuk-font(16, $line-height: 1.3);

  @include nhsuk-media-query($until: desktop) {
    margin-bottom: nhsuk-spacing(2);
    @include nhsuk-font(19, $line-height: 1.3);
  }
}

.app-side-nav__item {
  padding-bottom: 4px;
  padding-top: 4px;
}

.app-side-nav__item--current {
  border-left: 4px solid nhsuk-colour("blue");
  margin-left: -12px;
  padding-left: 8px;

  .app-side-nav__link {
    font-weight: $nhsuk-font-bold;
  }
}

.app-side-nav__link {
  text-decoration: none;
  @include nhsuk-link-style-no-visited-state;

  &:hover {
    text-decoration: underline;
  }

  @include nhsuk-media-query($until: desktop) {
    text-decoration: underline;
  }
}

.app-side-nav__list--nested {
  @include nhsuk-responsive-margin(2, "bottom");
  @include nhsuk-responsive-margin(3, "top");

  .app-side-nav__item {
    list-style: none;
    @include nhsuk-font(16, $line-height: 1.3);
  }

  .app-side-nav__link {
    font-weight: 400;
  }
}

.app-side-nav__list--nested .app-side-nav__item::before {
  color: nhsuk-colour("grey-3");
  content: "—";
  margin-left: -20px;
  margin-right: 4px;
}

.app-index-navigation {
  @include nhsuk-responsive-padding(4, "top");
}