<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-dhsc.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Build a Calculate Pack Confirmation" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<a class="nhsuk-back-link" href="/v2/dhsc/datasources">
    Go back
</a>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>Building a joined table</h1>
  
            <section class="loading-container" id="gp-connect-0" style="display:block; min-height: 16em;">
      
              <div class="bar_container">
                <div id="main_container">
                  <div id="pbar" class="progress-spinner" data-percent="0">
                    <img src="/images/loader-spinner.svg" width="200px" height="200px" id="spinner" class="" />
                    <div class="ppc-loading">
                      <div class="pcc-percents-wrapper">
                        <span id="spinner-status" class="nhsuk-body">Generating</span><span aria-hidden="true">...</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
            </section>

                  <div>
           <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
            Cancel 
        </button>

        </div>
    <!-- End of content -->

</div>
</div>

<script>
  setTimeout("location.href = '/v2/dhsc/pack-download';", 5000);
</script>
{% endblock %}