<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-dhsc.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Dictionary of Medicines + Devices" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<a class="nhsuk-back-link" href="/v2/dhsc/datasources">
    Go back
</a>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1>Historical Data - Dictionary of Medicines + Devices (dm+d) </h1>

        <div>


            <strong class="nhsuk-tag nhsuk-tag--white">
                Record date: <span id="date"></span>
            </strong>


            <strong class="nhsuk-tag nhsuk-tag--white">
                VTM:

            </strong>


            <strong class="nhsuk-tag nhsuk-tag--white">
                VTM SNOMED code:
            </strong>

            <strong class="nhsuk-tag nhsuk-tag--white">
                Company name:
            </strong>

            <strong class="nhsuk-tag nhsuk-tag--white">
                Company SNOMED code:
            </strong>

            <strong class="nhsuk-tag nhsuk-tag--white">
                Product name:
            </strong>
        </div>
        <br>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Download dataset
        </button>

        <div class="large-table-container">
            <table role="table" class="nhsuk-table-responsive" data-module="moj-sortable-table">
                <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">
                    Extracted medication data table
                </caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                        <th role="columnheader" scope="col" aria-sort="none">ATC <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">VMP_NAME <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">VMPP_NAME <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">AMP_NAME <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">AMPP_NAME <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">AMP_NAME_COMPANY <span
                                class="sort-indicator" aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">COMPANY <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">COMPANY_CODE <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">FORM <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">UNIT_DOSE <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">STRENGTH <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">PACK_SIZE <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">PACK <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">PRICE <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">PRICE_DATE <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">PRICE_PREVIOUS <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">PRICE_BASIS <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">DISCONTINUED <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">DISCONTINUED_DATE <span
                                class="sort-indicator" aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">BNF_CODE <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">BNF_CHAPTER <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                        <th role="columnheader" scope="col" aria-sort="none">COMBPACKCD <span class="sort-indicator"
                                aria-hidden="true">⇅</span></th>
                    </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">C08DA01</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160mg tablets (A A H Pharma)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_31447010C</td>
                        <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
                        <td role="cell" class="nhsuk-table__cell">tablet</td>
                        <td role="cell" class="nhsuk-table__cell">160</td>
                        <td role="cell" class="nhsuk-table__cell">56</td>
                        <td role="cell" class="nhsuk-table__cell">4 x 14 tablets</td>
                        <td role="cell" class="nhsuk-table__cell">4420</td>
                        <td role="cell" class="nhsuk-table__cell">2025-06-06</td>
                        <td role="cell" class="nhsuk-table__cell">4862</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0206020</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_02060200</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">C08DA01</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160mg tablets (A A H Pharma)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_31447010C</td>
                        <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
                        <td role="cell" class="nhsuk-table__cell">tablet</td>
                        <td role="cell" class="nhsuk-table__cell">160</td>
                        <td role="cell" class="nhsuk-table__cell">100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">0</td>
                        <td role="cell" class="nhsuk-table__cell">2006-09-22</td>
                        <td role="cell" class="nhsuk-table__cell">461</td>
                        <td role="cell" class="nhsuk-table__cell">No Price Available</td>
                        <td role="cell" class="nhsuk-table__cell">Discontinued Flag</td>
                        <td role="cell" class="nhsuk-table__cell">2004-08-05</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0206020</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_02060200</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>
                    <!-- Add more rows as needed -->
                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">C08DA01</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160mg tablets (A A H Pharma)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_31447010C</td>
                        <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
                        <td role="cell" class="nhsuk-table__cell">tablet</td>
                        <td role="cell" class="nhsuk-table__cell">160</td>
                        <td role="cell" class="nhsuk-table__cell">56</td>
                        <td role="cell" class="nhsuk-table__cell">4 x 14 tablets</td>
                        <td role="cell" class="nhsuk-table__cell">4420</td>
                        <td role="cell" class="nhsuk-table__cell">2025-06-06</td>
                        <td role="cell" class="nhsuk-table__cell">4862</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0206020</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_02060200</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">C08DA01</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160m</td>
                        <td role="cell" class="nhsuk-table__cell">Verapamil 160mg tablets (A A H Pharma)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_31447010C</td>
                        <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
                        <td role="cell" class="nhsuk-table__cell">tablet</td>
                        <td role="cell" class="nhsuk-table__cell">160</td>
                        <td role="cell" class="nhsuk-table__cell">100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">0</td>
                        <td role="cell" class="nhsuk-table__cell">2006-09-22</td>
                        <td role="cell" class="nhsuk-table__cell">461</td>
                        <td role="cell" class="nhsuk-table__cell">No Price Available</td>
                        <td role="cell" class="nhsuk-table__cell">Discontinued Flag</td>
                        <td role="cell" class="nhsuk-table__cell">2004-08-05</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0206020</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_02060200</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">A10BA02</td>
                        <td role="cell" class="nhsuk-table__cell">Metformin 500mg</td>
                        <td role="cell" class="nhsuk-table__cell">Metformin 500mg</td>
                        <td role="cell" class="nhsuk-table__cell">Metformin 500mg</td>
                        <td role="cell" class="nhsuk-table__cell">Metformin 500mg</td>
                        <td role="cell" class="nhsuk-table__cell">Metformin tablets (Generic Pharma)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_1234567890</td>
                        <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
                        <td role="cell" class="nhsuk-table__cell">tablet</td>
                        <td role="cell" class="nhsuk-table__cell">500</td>
                        <td role="cell" class="nhsuk-table__cell">28</td>
                        <td role="cell" class="nhsuk-table__cell">1 x 28 tablets</td>
                        <td role="cell" class="nhsuk-table__cell">1350</td>
                        <td role="cell" class="nhsuk-table__cell">2024-03-15</td>
                        <td role="cell" class="nhsuk-table__cell">1400</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0601010</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_06010100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">N02BA01</td>
                        <td role="cell" class="nhsuk-table__cell">Paracetamol 500mg</td>
                        <td role="cell" class="nhsuk-table__cell">Paracetamol 500mg</td>
                        <td role="cell" class="nhsuk-table__cell">Paracetamol 500mg</td>
                        <td role="cell" class="nhsuk-table__cell">Paracetamol 500mg</td>
                        <td role="cell" class="nhsuk-table__cell">Paracetamol tablets (Pain Relief Inc.)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_0987654321</td>
                        <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
                        <td role="cell" class="nhsuk-table__cell">tablet</td>
                        <td role="cell" class="nhsuk-table__cell">500</td>
                        <td role="cell" class="nhsuk-table__cell">16</td>
                        <td role="cell" class="nhsuk-table__cell">1 x 16 tablets</td>
                        <td role="cell" class="nhsuk-table__cell">950</td>
                        <td role="cell" class="nhsuk-table__cell">2023-12-01</td>
                        <td role="cell" class="nhsuk-table__cell">980</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0401010</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_04010100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">J01CA04</td>
                        <td role="cell" class="nhsuk-table__cell">Amoxicillin 500mg</td>
                        <td role="cell" class="nhsuk-table__cell">Amoxicillin 500mg</td>
                        <td role="cell" class="nhsuk-table__cell">Amoxicillin 500mg</td>
                        <td role="cell" class="nhsuk-table__cell">Amoxicillin 500mg</td>
                        <td role="cell" class="nhsuk-table__cell">Amoxicillin capsules (MediCare Ltd.)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_1122334455</td>
                        <td role="cell" class="nhsuk-table__cell">Capsule</td>
                        <td role="cell" class="nhsuk-table__cell">capsule</td>
                        <td role="cell" class="nhsuk-table__cell">500</td>
                        <td role="cell" class="nhsuk-table__cell">21</td>
                        <td role="cell" class="nhsuk-table__cell">1 x 21 capsules</td>
                        <td role="cell" class="nhsuk-table__cell">1750</td>
                        <td role="cell" class="nhsuk-table__cell">2024-05-10</td>
                        <td role="cell" class="nhsuk-table__cell">1800</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0501010</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_05010100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">C09AA05</td>
                        <td role="cell" class="nhsuk-table__cell">Ramipril 10mg</td>
                        <td role="cell" class="nhsuk-table__cell">Ramipril 10mg</td>
                        <td role="cell" class="nhsuk-table__cell">Ramipril 10mg</td>
                        <td role="cell" class="nhsuk-table__cell">Ramipril 10mg</td>
                        <td role="cell" class="nhsuk-table__cell">Ramipril tablets (HeartCare Pharma)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_2233445566</td>
                        <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
                        <td role="cell" class="nhsuk-table__cell">tablet</td>
                        <td role="cell" class="nhsuk-table__cell">10</td>
                        <td role="cell" class="nhsuk-table__cell">30</td>
                        <td role="cell" class="nhsuk-table__cell">1 x 30 tablets</td>
                        <td role="cell" class="nhsuk-table__cell">1200</td>
                        <td role="cell" class="nhsuk-table__cell">2024-01-20</td>
                        <td role="cell" class="nhsuk-table__cell">1250</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0207010</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_02070100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">R03AC02</td>
                        <td role="cell" class="nhsuk-table__cell">Salbutamol 100mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Salbutamol 100mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Salbutamol 100mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Salbutamol 100mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Salbutamol inhaler (Respira Ltd.)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_3344556677</td>
                        <td role="cell" class="nhsuk-table__cell">Inhaler</td>
                        <td role="cell" class="nhsuk-table__cell">inhaler</td>
                        <td role="cell" class="nhsuk-table__cell">100mcg</td>
                        <td role="cell" class="nhsuk-table__cell">200</td>
                        <td role="cell" class="nhsuk-table__cell">1 x 200 doses</td>
                        <td role="cell" class="nhsuk-table__cell">1950</td>
                        <td role="cell" class="nhsuk-table__cell">2024-07-18</td>
                        <td role="cell" class="nhsuk-table__cell">2000</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0306010</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_03060100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">G03CA01</td>
                        <td role="cell" class="nhsuk-table__cell">Ethinylestradiol 30mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Ethinylestradiol 30mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Ethinylestradiol 30mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Ethinylestradiol 30mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Contraceptive tablets (FemCare)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_4455667788</td>
                        <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
                        <td role="cell" class="nhsuk-table__cell">tablet</td>
                        <td role="cell" class="nhsuk-table__cell">30mcg</td>
                        <td role="cell" class="nhsuk-table__cell">21</td>
                        <td role="cell" class="nhsuk-table__cell">1 x 21 tablets</td>
                        <td role="cell" class="nhsuk-table__cell">2200</td>
                        <td role="cell" class="nhsuk-table__cell">2023-11-05</td>
                        <td role="cell" class="nhsuk-table__cell">2250</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0701010</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_07010100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">M01AE01</td>
                        <td role="cell" class="nhsuk-table__cell">Ibuprofen 200mg</td>
                        <td role="cell" class="nhsuk-table__cell">Ibuprofen 200mg</td>
                        <td role="cell" class="nhsuk-table__cell">Ibuprofen 200mg</td>
                        <td role="cell" class="nhsuk-table__cell">Ibuprofen 200mg</td>
                        <td role="cell" class="nhsuk-table__cell">Ibuprofen tablets (ReliefPlus)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_5566778899</td>
                        <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
                        <td role="cell" class="nhsuk-table__cell">tablet</td>
                        <td role="cell" class="nhsuk-table__cell">200</td>
                        <td role="cell" class="nhsuk-table__cell">24</td>
                        <td role="cell" class="nhsuk-table__cell">1 x 24 tablets</td>
                        <td role="cell" class="nhsuk-table__cell">1300</td>
                        <td role="cell" class="nhsuk-table__cell">2024-02-25</td>
                        <td role="cell" class="nhsuk-table__cell">1350</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_1001010</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_10010100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">L01XE01</td>
                        <td role="cell" class="nhsuk-table__cell">Imatinib 100mg</td>
                        <td role="cell" class="nhsuk-table__cell">Imatinib 100mg</td>
                        <td role="cell" class="nhsuk-table__cell">Imatinib 100mg</td>
                        <td role="cell" class="nhsuk-table__cell">Imatinib 100mg</td>
                        <td role="cell" class="nhsuk-table__cell">Imatinib tablets (OncoPharma)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_6677889900</td>
                        <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
                        <td role="cell" class="nhsuk-table__cell">tablet</td>
                        <td role="cell" class="nhsuk-table__cell">100</td>
                        <td role="cell" class="nhsuk-table__cell">30</td>
                        <td role="cell" class="nhsuk-table__cell">1 x 30 tablets</td>
                        <td role="cell" class="nhsuk-table__cell">35000</td>
                        <td role="cell" class="nhsuk-table__cell">2024-06-12</td>
                        <td role="cell" class="nhsuk-table__cell">36000</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0802010</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_08020100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">R03AK06</td>
                        <td role="cell" class="nhsuk-table__cell">Ipratropium bromide 20mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Ipratropium bromide 20mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Ipratropium bromide 20mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Ipratropium bromide 20mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Ipratropium inhaler (BreatheRight Pharma)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_7788990011</td>
                        <td role="cell" class="nhsuk-table__cell">Inhaler</td>
                        <td role="cell" class="nhsuk-table__cell">inhaler</td>
                        <td role="cell" class="nhsuk-table__cell">20mcg</td>
                        <td role="cell" class="nhsuk-table__cell">200</td>
                        <td role="cell" class="nhsuk-table__cell">1 x 200 doses</td>
                        <td role="cell" class="nhsuk-table__cell">2200</td>
                        <td role="cell" class="nhsuk-table__cell">2024-04-07</td>
                        <td role="cell" class="nhsuk-table__cell">2250</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0308010</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_03080100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">C10AA05</td>
                        <td role="cell" class="nhsuk-table__cell">Atorvastatin 20mg</td>
                        <td role="cell" class="nhsuk-table__cell">Atorvastatin 20mg</td>
                        <td role="cell" class="nhsuk-table__cell">Atorvastatin 20mg</td>
                        <td role="cell" class="nhsuk-table__cell">Atorvastatin 20mg</td>
                        <td role="cell" class="nhsuk-table__cell">Atorvastatin tablets (CardioHealth)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_8899001122</td>
                        <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
                        <td role="cell" class="nhsuk-table__cell">tablet</td>
                        <td role="cell" class="nhsuk-table__cell">20</td>
                        <td role="cell" class="nhsuk-table__cell">28</td>
                        <td role="cell" class="nhsuk-table__cell">1 x 28 tablets</td>
                        <td role="cell" class="nhsuk-table__cell">1800</td>
                        <td role="cell" class="nhsuk-table__cell">2024-08-15</td>
                        <td role="cell" class="nhsuk-table__cell">1850</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0208010</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_02080100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">H03AA01</td>
                        <td role="cell" class="nhsuk-table__cell">Levothyroxine 50mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Levothyroxine 50mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Levothyroxine 50mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Levothyroxine 50mcg</td>
                        <td role="cell" class="nhsuk-table__cell">Levothyroxine tablets (ThyroCare)</td>
                        <td role="cell" class="nhsuk-table__cell">SNOMED_9900112233</td>
                        <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
                        <td role="cell" class="nhsuk-table__cell">tablet</td>
                        <td role="cell" class="nhsuk-table__cell">50mcg</td>
                        <td role="cell" class="nhsuk-table__cell">28</td>
                        <td role="cell" class="nhsuk-table__cell">1 x 28 tablets</td>
                        <td role="cell" class="nhsuk-table__cell">1150</td>
                        <td role="cell" class="nhsuk-table__cell">2024-09-01</td>
                        <td role="cell" class="nhsuk-table__cell">1200</td>
                        <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                        <td role="cell" class="nhsuk-table__cell">BNF_0603010</td>
                        <td role="cell" class="nhsuk-table__cell">BNF_06030100</td>
                        <td role="cell" class="nhsuk-table__cell"></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="#">
              <span class="nhsuk-pagination__title">Previous</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">1 -15 results</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z">
                </path>
              </svg>
            </a>
          </li>
          <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
              <span class="nhsuk-pagination__title">Next</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">15-30 results</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                </path>
              </svg>
            </a>
          </li>
        </ul>
      </nav>



        <div>
            <a href="/v2/dhsc/dmd-data" class="nhsuk-button nhsuk-button--secondary">
                New search
            </a>
        </div>
        <div>
            <a href="/v2/dhsc/datasources" class="nhsuk-button nhsuk-button--secondary">
                Back to dashboard
            </a>
        </div>
        <!-- End of content -->

    </div>


</div>


{% endblock %}