<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-dhsc.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Add Provisional Products" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

  {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l">Provisional product</span>
        <h1 class="nhsuk-heading-xl" id="pageHeading">
          Search for a company
          
        </h1>



<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="company-name">
    Company name
  </label>
  <input class="nhsuk-input nhsuk-u-margin-bottom-3" id="company-search" name="companyName" type="text">
  <div class="nhsuk-button-group">
  <button id="search-btn" class="nhsuk-button" data-module="nhsuk-button" type="button">
    Find company
  </button>
  <button id="reset-btn" class="nhsuk-button nhsuk-button--secondary" type="button">
    Reset search
  </button>
  {{ button({
    text: "Cancel",
    classes: "nhsuk-button--secondary",
    href: '/v5/dhsc'
  }) }}
  </div>
</div>



<div id="search-results" hidden>

    <h2 class="nhsuk-heading-m">
      157 companies found
    </h2>

  <p class="nhsuk-body nhsuk-u-margin-bottom-5">Searched all companies with the word "Morningside" in the name</p>


    <p class="nhsuk-hint nhsuk-u-margin-bottom-2">
      Select a company name to continue
    </p>
    
      {{ table({
        firstCellIsHeader: true,
        head: [
          {
            text: "Company name"
          },
          {
            text: "Action"
          }
        ],
        rows: [
          [
            {
              html: '<p class="nhsuk-body">Morningside Healthcare Ltd</p>'
            },
            {
              html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningside Healthcare Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morningside Pharmaceuticals Ltd</p>'
            },
            {
                html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningside Pharmaceuticals Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morningside UK Ltd</p>'
            },
            {
                html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningside UK Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morningside Medical Services Ltd</p>'
            },
            {
                html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningside Medical Services Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morningside Biologics Ltd</p>'
            },
            {
                html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningside Biologics Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morningside Pharma Holdings Ltd</p>'
            },
            {
                html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningside Pharma Holdings Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morningside Therapeutics Ltd</p>'
            },
            {
            html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningside Therapeutics Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morningside Healthcare UK Ltd</p>'
            },
            {
            html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningside Healthcare UK Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morningside Medical Products Ltd</p>'
            },
            {
            html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningside Medical Products Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morningside Clinical Research Ltd</p>'
            },
            {
            html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningside Clinical Research Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morningstar Medical Ltd</p>'
            },
            {
            html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningstar Medical Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morningview Pharmaceuticals Ltd</p>'
            },
            {
            html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningview Pharmaceuticals Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Mornington Healthcare Ltd</p>'
            },
            {
            html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Mornington Healthcare Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morningwell Therapeutics Ltd</p>'
            },
            {
              html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morningwell Therapeutics Ltd&manualCompany=false">Select</a>'
            }
          ],
          [
            {
              html: '<p class="nhsuk-body">Morning Labs Ltd</p>'
            },
            {
                html: '<a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-1" href="/v5/dhsc/provisional/edit/index?companyName=Morning Labs Ltd&manualCompany=false">Select</a>'
            }
          ]
          ]
        }) }}

      {{ pagination({
        next: {
          href: "#"
        },
        items: [
          {
            number: 1,
            href: "#",
            current: true
          },
          {
            number: 2,
            href: "#"
          },
          {
            number: 3,
            href: "#"
          },
          {
            ellipsis: true
          },
          {
            number: 8,
            href: "#"
          },
          {
            number: 9,
            href: "#"
          },
          {
            number: 10,
            href: "#"
          }
        ]
      }) }}

      <hr>


  <p class="nhsuk-heading-s nhsuk-u-margin-top-5">Can't find the company you're looking for?</p>
  
  {{ button({
    text: "Continue with a new company name",
    classes: "nhsuk-button--secondary",
    href: "/v5/dhsc/provisional/edit/index?manualCompany=true"
  }) }}

</div>

  </div>
</div>

<!-- End of content -->

<script>
  document.addEventListener('DOMContentLoaded', function () {
  
    const searchButton = document.getElementById('search-btn');
    const resultsSection = document.getElementById('search-results');
    const searchInput = document.getElementById('company-search');
    const resetButton = document.getElementById('reset-btn');

    searchInput.addEventListener('input', function() {
      if (searchInput.value.trim() === '') {
        resultsSection.hidden = true;
      }
    });
  
    searchButton.addEventListener('click', function (event) {
  
      // Prevent form submission for prototype purposes
      event.preventDefault();

      if (searchInput.value.trim() === '') {
        resultsSection.hidden = true;
      }

      resultsSection.hidden = false;
    
    });

    resetButton.addEventListener('click', function () {

      // Clear search field
      searchInput.value = '';

      // Hide results
      resultsSection.hidden = true;

      });
  
  });
  </script>

{% endblock %}