{% extends 'layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-5" href="/v1/admin/reference-prices-admin-dashboard">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to reference price dashboard</a>
</div>

<h1>
    Reference price list
</h1>

<div class="nhsuk-form-group">
    <p id="product-list-detail">The list contains all products which have a reference price.</p>

    <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-5">

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Refine the reference price list
    </span>
            </summary>

            <div class="nhsuk-details__text">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                        Product search
                    </label>
                    <div class="nhsuk-hint" id="example-with-hint-text-hint">
                        Refine the list by searching for a specific product name.
                    </div>
                    <input class="nhsuk-input" id="example" name="example" type="text">
                </div>
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                        Company search
                    </label>
                    <div class="nhsuk-hint" id="example-with-hint-text-hint">
                        Refine the list by searching for a specific company.
                    </div>
                    <input class="nhsuk-input" id="example" name="example" type="text">
                </div>

                <a class="nhsuk-button nhsuk-u-margin-top-6"
                   id="continue-button" type="submit" href="#">
                    Refine search
                </a>
                <a href="#" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-5 nhsuk-u-margin-top-6">Reset search</a>
            </div>
        </details>

    </fieldset>

</div>

<div class="nhsuk-body-m flex--space-between" style="display: flex">
    <div class="nhsuk-u-visually-hidden">Currently viewing</div>
    <div id="pageAndResultCount">Page 1 of 610 (6100 results)</div>
</div>

<table class="nhsuk-table-responsive" role="table">
    <caption class="nhsuk-table__caption">Reference price list</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
        <th role="columnheader" class="" scope="col">
            Product name
        </th>
        <th role="columnheader" class="" scope="col">
            Pack size
        </th>
        <th role="columnheader" class="" scope="col">
            Company
        </th>
        <th role="columnheader" class="" scope="col">
            View
        </th>

    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row" id="remove-row">
        <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Product name </span>
            Atorvastatin 10mg tablets</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Pack</span>
            28</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Company</span>
            Test company A</td>

        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action </span>
            <a class="nhsuk-link nhsuk-link--no-visited-state" href="view-product-details">View</a></td>
    </tr>
    <tr role="row" class="nhsuk-table__row" id="remove-row">
        <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Product name </span>
            Atorvastatin 10mg tablets</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Pack</span>
            56</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Company</span>
            Test company A</td>

        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action </span>
            <a class="nhsuk-link nhsuk-link--no-visited-state" href="view-product">View</a></td>
    </tr>
    <tr role="row" class="nhsuk-table__row" id="remove-row">
        <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Product name </span>
            Atorvastatin 25mg tablets</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Pack</span>
            28</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Company</span>
            Test company A</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action </span>
            <a class="nhsuk-link nhsuk-link--no-visited-state" href="view-product">View</a></td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Product name </span>
            Benzoyl peroxide 5% / Cindamycin 1% gel</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Pack</span>
            30</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Company</span>
            Test company A</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action </span>View</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Product name </span>
            Calcipotrial 0.005% / Bethamethasone dispropionate 0.05% ointment</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Pack</span>
            30</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Company</span>
            Test company A</td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Action </span>
            View</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Product name </span>
            Cyclizine 25mg/1ml solution for injection ampoules</td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Pack</span>
            5</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Company</span>
            Test company A</td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Action </span>View</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Product name </span>
            Cyclizine 50mg/1ml solution for injection ampoules</td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Pack</span>
            5</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Company</span>
            Test company A</td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Action </span>View</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Product name </span>
            Isotretinoin 20mg capsules</td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Pack</span>30</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Company</span>
            Test company A</td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Action </span>View</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Product name </span>
            Isotrex 0.05% gel</td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Pack</span>30</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Company</span>
            Test company B</td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Action </span>View</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Product name </span>
            Isotard 60XL tablets</td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Pack</span>28</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Company</span>
            Test company C</td>
        <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Action </span>View</td>
    </tr>
    </tbody>
</table>

<nav class="govuk-pagination nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-5" role="navigation" aria-label="results">

    <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                1
            </a>
        </li>
        <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" >
                2
            </a>
        </li>
        <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
            </a>
        </li>
    </ul>
    <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg></a>
    </div>
</nav>

<a class="nhsuk-button nhsuk-button--primary nhsuk-u-margin-right-4" href="reference-price-report" id="download-button">Download reference price csv</a>


{% endblock %}