<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'v6/layout-company-share.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Summary of totals" %}

{% set activeNav = "submissions" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

<!-- {{ backLink({
  href: 'javascript:history.go(-1)',
  text: 'Back'
}) }} -->

{{ breadcrumb({
  items: [
    {
      href: "/v6/company/submissions/create-plr-submission",
      text: "Dashboard"
    },
    {
      href: "/v6/company/submissions/submit-plr",
      text: "Submit product"
    }
  ]
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <span class="nhsuk-caption-l">Atenix 100mg tablets</span>
        <h1 class="nhsuk-heading-l">Summary of totals</h1>

        <section id="submission-details">
          <div class="nhsuk-table__panel-with-heading-tab">
            <h2 class="nhsuk-table__heading-tab">
              Submission details
            </h2>
          
            {{ table({
              head: [
                {
                    text: "Company"
                },
                {
                    text: "Period"
                },
                {
                    text: "Submission type"
                },
                {
                    text: "Status"
                }
                ],
              rows: [
                [
                  {
                    text: "Aspire Pharma Ltd"
                  },
                  {
                    text: "01/Jan/2025 - 31/Dec/2025"
                  },
                  {
                    text: "Unaudited PLR - Voluntary"
                  },
                  {
                  html: '<span class="nhsuk-tag nhsuk-tag--white">In progress</span>'
                  }
                ]
              ]
            }) }}
          </div>
        </section>
        
        <section id="eligible-sales">
          <div class="nhsuk-table__panel-with-heading-tab">
            <h2 class="nhsuk-table__heading-tab">
              Eligible sales
            </h2>
          
            {{ table({
              firstCellIsHeader: true,
              head: [
                {
                    text: "-"
                },
                {
                    text: "Net sales"
                },
                {
                    text: "Gross sales"
                }
                ],
              rows: [
                [
                  {
                    text: "Primary care"
                  },
                  {
                    text: "£0"
                  },
                  {
                    text: "£0"
                  }
                ],
                [
                  {
                    text: "Home care"
                  },
                  {
                    text: "£0"
                  },
                  {
                    text: "£0"
                  }
                ],
                [
                  {
                    text: "Secondary care"
                  },
                  {
                    text: "£1,000.00"
                  },
                  {
                    text: "£1,364.00"
                  }
                ]
              ]
            }) }}
          </div>
        </section>


        <section id="exemptions">
          <div class="nhsuk-table__panel-with-heading-tab">
            <h2 class="nhsuk-table__heading-tab">
              Exemptions
            </h2>
          
            {{ table({
              firstCellIsHeader: true,
              head: [
                {
                    text: "-"
                },
                {
                    text: "Net sales"
                },
                {
                    text: "Gross sales"
                }
                ],
              rows: [
                [
                  {
                    text: "Exceptional Central Procurements (ECP)"
                  },
                  {
                    text: "£0"
                  },
                  {
                    text: "£0"
                  }
                ],
                [
                  {
                    text: "Centrally Procured Vaccines (CPV)"
                  },
                  {
                    text: "£0"
                  },
                  {
                    text: "£0"
                  }
                ],
                [
                  {
                    text: "Low Value Sales (LV)"
                  },
                  {
                    text: "£0"
                  },
                  {
                    text: "£0"
                  }
                ],
                [
                  {
                    text: "New Active Substances (NAS)"
                  },
                  {
                    text: "£0"
                  },
                  {
                    text: "£0"
                  }
                ]
              ]
            }) }}
          </div>
        </section>


        {{ textarea({
          name: "comments",
          id: "comments",
          label: {
            text: "Zero returns/sales comments"
          },
          hint: {
            text: "Enter the reason for the zero sales (e.g. discontinuation, divestment) and include relevant dates where discontinued or divested."
          }
        }) }}



        {% set insetTextHtml %}
          <p>You can <a class="nhsuk-link nhsuk-link--no-visited-state" href="/v6/company/submissions/create-plr-submission">return to the dashboard here</a> if you wish to leave without submitting your changes. Any information entered will be lost.</p>
        {% endset %}

        {{ insetText({
          html: insetTextHtml
        }) }}

        {{ button({
          text: "Save and continue",
          href: "/v6/company/submissions/plr-done"
        }) }}



          <style>
            .nhsuk-table__heading-tab {
                font-size: 1.3rem;
            }

            .nhsuk-inset-text {
                max-width: 56em;
            }

          </style>

        <!-- End of content -->

    </div>
</div>
{% endblock %}