<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-company.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Home Page" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/v2/company/search">Product portfolio</a>
                        </h2>
                        <p class="nhsuk-card__description">Find a product within your portfolio</p>
                    </div>
                </div>

            </li>
 
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/v2/company/ref-price-data">Reference
                                price data</a> </h2>
                        <p class="nhsuk-card__description">View reference price master data and audit logs</p>
                    </div>
                </div>

            </li>
     
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link"
                                href="/v2/company/query-home">Queries</a> </h2>
                        <p class="nhsuk-card__description">View and respond to queries </p>
                    </div>
                </div>

            </li>

                        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link"
                                href="#">Submissions</a> </h2>
                        <p class="nhsuk-card__description">View what information has changed across the dashboard</p>
                    </div>
                </div>

            </li>


<!-- 
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link"
                                href="/v2/company/notifications/index">Notifications</a> </h2>
                        <p class="nhsuk-card__description">View what information has changed across the dashboard</p>
                    </div>
                </div>

            </li>  -->


            

            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/v2/help">Help and
                                support</a> </h2>
                        <p class="nhsuk-card__description">Access guidance about the reference price service</p>
                    </div>
                </div>

            </li>
<!-- 
                        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link"
                                href="https://www.gov.uk/government/collections/vpag-2024-scheme-documents-and-guidance" target="_blank">VPAG Policy guidance</a> </h2>
                        <p class="nhsuk-card__description">Generate standard reports</p>
                    </div>
                </div>

            </li> -->

        </ul>
        <!-- End of content -->

    </div>
</div>
{% endblock %}