<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-company.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Historical Data - Reference Price Dataset" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<a class="nhsuk-back-link" href="/v3/company/ref-price-data">
    Go back
</a>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1>Historical Data - Reference Price Dataset</h1>

        <div>


            <strong class="nhsuk-tag nhsuk-tag--white">
                Record date: <span id="date"></span>
            </strong>



        
            <strong class="nhsuk-tag nhsuk-tag--white">
                Product name:
            </strong>

                <strong class="nhsuk-tag nhsuk-tag--white">
                Product SNOMED code:
            </strong>
        </div>
                <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Filter this table by selecting a column and entering a search term
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="column-filter-select">
                        Choose column to filter
                    </label>

                    <select class="nhsuk-select" id="column-filter-select" name="column-filter-select">
                        <option value="companyName">Company Name</option>
                        <option value="snomedCode">SNOMED Code</option>
                        <option value="presentationName">Presentation Name</option>
                        <option value="currentMaxPrice">Current Max Price (£)</option>
                        <option value="vmpName">VMP Name</option>
                        <option value="vtmName">VTM Name</option>
                        <option value="spcExpiryDate">SPC Expiry Date</option>
                        <option value="firstMaDate">First MA Date (VTM)</option>
                        <option value="spcMaDetails">SPC/MA Details for RAD</option>
                        <option value="spcNumbers">SPC Number(s)</option>
                        <option value="originatorPresentation">Originator Presentation Name</option>
                        <option value="originatorClassification">Originator Classification</option>
                        <option value="medicineClassification">Medicine Classification (Older/Newer)</option>
                        <option value="olderMedicineDate">Older Medicine Date</option>
                        <option value="rad">Reference Anchor Date (RAD)</option>
                        <option value="referencePrice2024">Reference Price (Final 2024)</option>
                        <option value="referencePriceType">Reference Price Type</option>
                        <option value="comparatorsUsed">Comparators Used</option>
                        <option value="comparatorPriceYear">Comparator Price Year</option>
                        <option value="comparatorRawPrice">Comparator Raw Price (£)</option>
                        <option value="packSizeAdjustment">Pack Size Adjustment</option>
                        <option value="strengthAdjustment">Strength Adjustment</option>
                        <option value="interFormulationAdjustment">Inter-Formulation Adjustment</option>
                        <option value="flatPriceComparator">Flat Price Comparator</option>
                        <option value="reasonForExclusion">Reason for Exclusion</option>
                        <option value="changesToPhase1">Changes to Phase 1</option>
                        <option value="changesAfterReview">Changes After Review</option>
                    </select>
                </div>
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="full-name">
                        Search term
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="full-name" name="fullName" type="text">
                </div>

                <button class="nhsuk-button nhsuk-button--secondary" >
Apply filter
                </button>
            </div>
        </details>
        <br>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Download dataset
        </button>

<div class="large-table-container">
    <table role="table" class="nhsuk-table-responsive" data-module="moj-sortable-table">
       

        <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
                <th role="columnheader" aria-sort="none">Company Name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">SNOMED Code <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Presentation Name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Current Max Price (£) <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">VMP Name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">VTM Name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">SPC Expiry Date <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">First MA Date (VTM) <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">SPC/MA Details for RAD <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">SPC Number(s) <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Originator Presentation Name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Originator Classification <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Medicine Classification (Older/Newer) <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Older Medicine Date <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Reference Anchor Date (RAD) <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Reference Price (Final 2024) <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Reference Price Type <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Comparators Used <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Comparator Price Year <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Comparator Raw Price (£) <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Pack Size Adjustment <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Strength Adjustment <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Inter-Formulation Adjustment <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Flat Price Comparator <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Reason for Exclusion <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Changes to Phase 1 <span class="sort-indicator" aria-hidden="true">⇅</span></th>
                <th role="columnheader" aria-sort="none">Changes After Review <span class="sort-indicator" aria-hidden="true">⇅</span></th>
            </tr>
        </thead>

        <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">TestCompanyA</td>
                <td class="nhsuk-table__cell">SNOMED_17031011000001104</td>
                <td class="nhsuk-table__cell">TestA 120mg tablets (TestCompanyA) 28 tablet 2 x 14 tablets</td>
                <td class="nhsuk-table__cell">12.12</td>
                <td class="nhsuk-table__cell">TestProductA 120mg tablets</td>
                <td class="nhsuk-table__cell">febuxostat</td>
                <td class="nhsuk-table__cell">22/04/2023</td>
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell">SPC 2010019</td>
                <td class="nhsuk-table__cell">Originator1</td>
                <td class="nhsuk-table__cell">Originator</td>
                <td class="nhsuk-table__cell">Older medicine</td>
                <td class="nhsuk-table__cell">22/04/2023</td>
                <td class="nhsuk-table__cell">01/01/2022</td>
                <td class="nhsuk-table__cell">£10.11</td>
                <td class="nhsuk-table__cell">Average selling price of comparator(s) subject to adjustments</td>
                <td class="nhsuk-table__cell">Adenuric 120mg tablets (TestCompanyA) 28 tablet 2 x 14 tablets</td>
                <td class="nhsuk-table__cell">2021</td>
                <td class="nhsuk-table__cell">£10.34</td>
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell"></td>
            </tr>
        </tbody>
    </table>
</div>




        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="#">
              <span class="nhsuk-pagination__title">Previous</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">1 -15 results</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z">
                </path>
              </svg>
            </a>
          </li>
          <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
              <span class="nhsuk-pagination__title">Next</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">15-30 results</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                </path>
              </svg>
            </a>
          </li>
        </ul>
      </nav>



        <div>
            <a href="/v3/company/ref-price-data" class="nhsuk-button nhsuk-button--secondary">
                New search
            </a>
        </div>
        <div>
            <a href="/v3/company/" class="nhsuk-button nhsuk-button--secondary">
                Back to dashboard
            </a>
        </div>
        <!-- End of content -->

    </div>


</div>


{% endblock %}

