{% extends 'layout-dhsc.html' %}
{% set pageName = "Edit reference price" %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="/v5/dhsc">Dashboard</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="/v5/dhsc/search">Search for a product</a>
        </li>    
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="/v5/dhsc/product-details#ref-price-information">Product details</a>
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-l">Reference price</span>
        <h1 id="product-name" class="nhsuk-heading-xl">Metabet SR 1000mg tablets (Morningside Healthcare Ltd)(28 tablet - 2 x 14 tablets)</h1>

        <form id="edit-form">
            <h2 id="field-heading" class="nhsuk-heading-m nhsuk-u-visually-hidden">Edit field</h2>
            <div id="field-container"></div>
            <div class="nhsuk-button-group">
                <button class="nhsuk-button" type="submit">Save</button>
                <button class="nhsuk-button nhsuk-button--secondary" type="button" onclick="window.location.href='/v5/dhsc/product-details'">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
// Helper function to convert to lower case
// Helper function to convert to lowercase, preserving abbreviations
function toLowercase(str) {
    return str
        .split(/\s+/)
        .map(word => {
            if (word === word.toUpperCase() && word.length > 1) {
                return word;
            }
            return word.toLowerCase();
        })
        .join(' ');
}

(function () {
    const fields = {
        "data-correct-as-of": {
            label: "Data correct as of date",
            type: "date",
            value: "2025-10-12"
        },
        "reference-price-start-year": {
            label: "Reference price start year",
            type: "year",
            value: "2024"
        },
        "reference-price-type": {
            label: "Reference price type",
            type: "radio",
            options: [
                "List price of comparator(s) according to dm+d minus 12.5% subject to adjustments",
                "Average selling price"
            ],
            value: "List price of comparator(s) according to dm+d minus 12.5% subject to adjustments"
        },
        "reference-price-start-date": {
            label: "Reference price start date",
            type: "date",
            value: "2025-10-15"
        },
        "reference-price-end-date": {
            label: "Reference price end date",
            type: "date",
            value: "2028-10-15"
        },
        "interformulation-adjustment": {
            label: "an Interformulation adjustment",
            type: "radio",
            value: "Yes"
        },
        "pack-size-adjustment": {
            label: "a Pack size adjustment",
            type: "radio",
            value: "No"
        },
        "retrospective-adjustment": {
            label: "a Retrospective adjustment",
            type: "radio",
            value: "Yes"
        },
        "prospective-adjustment": {
            label: "a Prospective adjustment",
            type: "radio",
            value: "Yes"
        },
        "reference-price-adjustment": {
            label: "a Reference price adjustment",
            type: "radio",
            value: "Yes"
        },
        "reference-price": {
            label: "Reference price",
            type: "money",
            value: "6.41"
        },
        "change-following-review": {
            label: "Change following review",
            type: "textarea",
            value: "No data available"
        }
    };


    const params = new URLSearchParams(window.location.search);
    const fieldKey = params.get("field") || "data-correct-as-of";
    const field = fields[fieldKey] || fields["data-correct-as-of"];

    const headingElement = document.getElementById("field-heading");
    const lowercaseLabel = toLowercase(field.label);

    // If the label contains "adjustment" add the word "status" for the success message
    const savedLabel = field.label.toLowerCase().includes('adjustment') ? `${lowercaseLabel} status` : field.label;

    // Store field key and the label to use in product-details notification
    sessionStorage.setItem('lastEditedField', fieldKey);
    sessionStorage.setItem('lastEditedFieldLabel', savedLabel);

    headingElement.textContent = `Edit ${lowercaseLabel}`;
    
    const container = document.getElementById("field-container");


    function renderField() {
        if (field.type === "select") {
            return `
                <div class="nhsuk-form-group">
                  
                     <label class="nhsuk-label" for="sort-by">Edit ${lowercaseLabel}</label>
                    <select class="nhsuk-select" id="field-input" name="field-input">
                        ${field.options.map(option => `<option value="${option}" ${option === field.value ? "selected" : ""}>${option}</option>`).join("")}
                    </select>
                </div>
            `;
        }

        if (field.type === "radio") {
            if (field.options && field.options.length) {
                return `
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="field-input">Edit ${lowercaseLabel}</label>
                    <div style="margin-top:1rem"></div>
                    <div class="nhsuk-radios">
                        ${field.options.map((option, idx) => `<div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="field-input-${idx}" name="field-input" type="radio" value="${option}" ${field.value === option ? "checked" : ""}>
                                <label class="nhsuk-label nhsuk-radios__label" for="field-input-${idx}">${option}</label>
                            </div>`).join("")}
                    </div>
                </div>
            `;
            }

            return `
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="field-hint">
                        <legend class="nhsuk-fieldset__legend ">Is this product subject to ${lowercaseLabel}?</legend>
                       
                        <div class="nhsuk-radios">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="field-input-yes" name="field-input" type="radio" value="Yes" ${field.value === "Yes" ? "checked" : ""}>
                                <label class="nhsuk-label nhsuk-radios__label" for="field-input-yes">Yes</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="field-input-no" name="field-input" type="radio" value="No" ${field.value === "No" ? "checked" : ""}>
                                <label class="nhsuk-label nhsuk-radios__label" for="field-input-no">No</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            `;
        }

        if (field.type === "textarea") {
            return `
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="field-input">Edit ${lowercaseLabel}</label>
                    <textarea class="nhsuk-textarea" id="field-input" name="field-input" rows="5">${field.value}</textarea>
                </div>
            `;
        }

        if (field.type === "money") {
            return `
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="field-input">Edit ${lowercaseLabel}</label>
                    <div class="nhsuk-input__wrapper">
                        <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
                        <input class="nhsuk-input nhsuk-input--width-10" id="field-input" name="field-input" type="text" inputmode="decimal" value="${field.value}">
                    </div>
                </div>
            `;
        }

        if (field.type === "year") {
            return `
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="field-input">Edit ${lowercaseLabel}</label>
                    <input class="nhsuk-input nhsuk-input--width-4" id="field-input" name="field-input" type="text" inputmode="numeric" maxlength="4" pattern="[0-9]{4}" value="${field.value}">
                </div>
            `;
        }

        if (field.type === "date") {
            let day = "", month = "", year = "";
            if (field.value) {
                const parts = field.value.split("-");
                year = parts[0] || "";
                month = parts[1] || "";
                day = parts[2] || "";
            }
            return `
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" role="group">
                            <label class="nhsuk-label" for="sort-by">Edit ${lowercaseLabel}</label>
                        <div class="nhsuk-date-input">
                            <div class="nhsuk-date-input__item">
                                <label class="nhsuk-label nhsuk-date-input__label" for="field-day">Day</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                       id="field-day"
                                       name="field-day"
                                       type="text"
                                       inputmode="numeric"
                                       pattern="[0-9]*"
                                       value="${parseInt(day, 10) || ""}">
                            </div>
                            <div class="nhsuk-date-input__item">
                                <label class="nhsuk-label nhsuk-date-input__label" for="field-month">Month</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                       id="field-month"
                                       name="field-month"
                                       type="text"
                                       inputmode="numeric"
                                       pattern="[0-9]*"
                                       value="${parseInt(month, 10) || ""}">
                            </div>
                            <div class="nhsuk-date-input__item">
                                <label class="nhsuk-label nhsuk-date-input__label" for="field-year">Year</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                       id="field-year"
                                       name="field-year"
                                       type="text"
                                       inputmode="numeric"
                                       pattern="[0-9]*"
                                       value="${year}">
                            </div>
                        </div>
                    </fieldset>
                </div>
            `;
        }

        return `
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="field-input">${lowercaseLabel}</label>
                <input class="nhsuk-input" id="field-input" name="field-input" type="date" value="${field.value}">
            </div>
        `;
    }

    container.innerHTML = renderField();

document.getElementById("edit-form").addEventListener("submit", function (event) {
    event.preventDefault();
    const activeTab = sessionStorage.getItem('activeTab') || '#ref-price-information';
    window.location.href = "/v5/dhsc/product-details?saved=true&tab=" + encodeURIComponent(activeTab);
});
}());
</script>
{% endblock %}