{% extends "v1layout.html" %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-5">
    <a class="nhsuk-back-link__link" href="/v1/admin/outstanding-reference-prices/outstanding-reference-price-list">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to outstanding products list</a>
</div>

<h1><span class="nhsuk-caption-l">
     <span class="nhsuk-u-visually-hidden"> for </span>
   </span>Choose a reference price list to upload</h1>

<p>Upload outstanding reference price data. This must be in csv format. The maximum file size is 10 megabytes (MB).</p>

<div class="govuk-form-group">
    <label class="nhsuk-label" for="file-upload-1">
        Upload a file
    </label>
    <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
</div>

<a class="nhsuk-button nhsuk-u-margin-top-6" href="bulk-upload-summary">Choose file and continue</a>



{% endblock %}