<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-dhsc.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Notifications Details Page" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<a class="nhsuk-back-link" href="/v2b/dhsc/notifications/all">
    Go back
</a>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
<h1>Change details</h1>
   

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Source</dt>
          <dd class="nhsuk-summary-list__value">CDR database</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Date</dt>
          <dd class="nhsuk-summary-list__value">10-10-2025</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Column affected</dt>
          <dd class="nhsuk-summary-list__value">Supplier</dd>
        </div>
         <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Change description</dt>
          <dd class="nhsuk-summary-list__value">Company divestent</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Old value</dt>
          <dd class="nhsuk-summary-list__value">Company divestment</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">New value</dt>
          <dd class="nhsuk-summary-list__value">AAH Medicals</dd>
        </div>
            <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Change impact</dt>
          <dd class="nhsuk-summary-list__value">Unknown</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Action</dt>
          <dd class="nhsuk-summary-list__value">
            No action required
          </dd>
        </div>
      </dl>

          <a href="/v2b/dhsc/notifications/all" class="nhsuk-button ">
            Mark as resolved 
        </a>


          <a href="/v2b/dhsc/notifications/all" class="nhsuk-button nhsuk-button--secondary">
           Back to all notification
        </a>
        <!-- End of content -->

    </div>
</div>
{% endblock %}