<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-dhsc.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Join data tables" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc">Dashboard</a>
    </li>
     <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/datasources">View data</a>
    </li>
   <!-- <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="#">Hospitals</a>
    </li> -->
  </ol>
<!-- 
  <a class="nhsuk-back-link" href="#">
    <span class="nhsuk-u-visually-hidden">Back to</span> Hospitals
  </a> -->

</nav>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>Join data tables</h1>
        <p>Select the data tables you want to join</p>

        <fieldset class="nhsuk-fieldset">

            <div class="nhsuk-checkboxes" data-module="nhsuk-checkboxes">
                <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
                        Dictionary of medicines and devices (dm+d)
                    </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                        Market authorisation
                    </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox"
                        value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                        Supplementary protection certificate
                    </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-4" name="contact" type="checkbox"
                        value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-4">
                        Presentation level returns
                    </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-5" name="contact" type="checkbox"
                        value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-5">
                        Pseudo VTMs
                    </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-6" name="contact" type="checkbox"
                        value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-6">
                        VTM originator 
                    </label>
                </div>
            </div>

        </fieldset>
        <br>
        <div>

<a href="/v3/dhsc/calculate-pack-confirm" class="nhsuk-button">
  Generate table
</a>


        </div>
        <!-- End of content -->

    </div>
</div>
{% endblock %}