{% extends 'v1layout.html' %}

{% block pageTitle %}
Quarterly collection dropdown - expander list
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link nhsuk-u-margin-bottom-5" href="appeal-details">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to appeal details</a>
</div>

<h1>
    Accept or reject appeal
</h1>

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-large">
            Atorvastatin 10mg tablets
        </h2>
    </div>
</div>


<div class="nhsuk-table__panel-with-heading-tab" id="refPriceCalculationFormView">
    <h2 class="nhsuk-table__heading-tab" id="refPriceCalculationHeader">Appeal details</h2>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
            <h3 class="nhsuk-heading-s" id="comparatorsUsedHeader">Reason for appeal</h3>
            <p id="comparatorsUsed"> Calculation is incorrect</p>
        </div>

        <div class="nhsuk-grid-column-one-third">
            <h3 class="nhsuk-heading-s" id="refPriceYearHeader">Date of appeal</h3>
            <p id="refPriceYear">1st Dec 2024</p>
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
            <h3 class="nhsuk-heading-s">Decision</h3>
            <div>
                <input type="radio" id="accept" name="decision" value="accept">
                <label for="accept">Accept</label>
            </div>
            <div>
                <input type="radio" id="reject" name="decision" value="reject">
                <label for="reject">Reject</label>
            </div>
        </div>
    </div>

    <div class="nhsuk-grid-row" id="rejectReasonContainer">
        <div class="nhsuk-grid-column-one-third">
            <h3 class="nhsuk-heading-s">Reason for Rejection</h3>
            <textarea id="rejectReason" name="rejectReason" rows="4" cols="50"></textarea>
        </div>
    </div>

    <a class="nhsuk-button nhsuk-button--primary nhsuk-u-margin-right-4" href="query-details" id="download-button">Confirm decision</a>

</div>





{% endblock %}