<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-dhsc.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Historical Data - Market Authorization" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<a class="nhsuk-back-link" href="/v2b/dhsc/ma-data">
    Go back
</a>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1>Historical Data - Market Authorization</h1>
<div>


    <strong class="nhsuk-tag nhsuk-tag--white">
  Record date: <span id ="date"></span>
</strong>


    <strong class="nhsuk-tag nhsuk-tag--white">
  VTM: 
  
</strong>


    <strong class="nhsuk-tag nhsuk-tag--white">
  VTM SNOMED code: 
</strong>

    <strong class="nhsuk-tag nhsuk-tag--white">
  Company name: 
</strong>

    <strong class="nhsuk-tag nhsuk-tag--white">
  Company SNOMED code: 
</strong>

    <strong class="nhsuk-tag nhsuk-tag--white">
  Product name: 
</strong>

        <strong class="nhsuk-tag nhsuk-tag--white">
                Product SNOMED code:
            </strong>
</div>
<br>
                <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Filter the dataset
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="column-filter-select">
                        Choose column to filter
                    </label>

<select class="nhsuk-select" id="sort-by" name="sortBy">
    <option value="ID">ID</option>
    <option value="VTM">VTM</option>
    <option value="Dataset">Dataset</option>
    <option value="MA Date">MA Date</option>
    <option value="Auth No.">Auth No.</option>
    <option value="Licensed product name">Licensed product name</option>
    <option value="Auth holder name">Auth holder name</option>
    <option value="Matched Company (MA Holder)">Matched Company (MA Holder)</option>
  </select>
                </div>
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="full-name">
                        Search term
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="full-name" name="fullName" type="text">
                </div>

                <button class="nhsuk-button nhsuk-button--secondary" >
Filter dataset
                </button>
            </div>
        </details>
  <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Download dataset
        </button>

<div class="large-table-container">
<table role="table" class="nhsuk-table-responsive" data-module="moj-sortable-table">

  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" scope="col" aria-sort="none">ID <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" scope="col" aria-sort="none">VTM <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" scope="col" aria-sort="none">Dataset <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" scope="col" aria-sort="none">MA Date <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" scope="col" aria-sort="none">Auth No. <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" scope="col" aria-sort="none">Licensed product name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" scope="col" aria-sort="none">Auth holder name <span class="sort-indicator" aria-hidden="true">⇅</span></th>
      <th role="columnheader" scope="col" aria-sort="none">Matched Company (MA Holder) <span class="sort-indicator" aria-hidden="true">⇅</span></th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">1</td>
      <td role="cell" class="nhsuk-table__cell">5-methoxypsoralen</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">2</td>
      <td role="cell" class="nhsuk-table__cell">abacavir + lamivudine</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">17/12/2004</td>
      <td role="cell" class="nhsuk-table__cell">PLGB 35728/0041</td>
      <td role="cell" class="nhsuk-table__cell">KIVEXA 600 MG/300 MG FILM-COATED TAB</td>
      <td role="cell" class="nhsuk-table__cell">VIIV HEALTHCARE UK LIMITED</td>
      <td role="cell" class="nhsuk-table__cell">ViiV Healthcare UK Ltd</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">3</td>
      <td role="cell" class="nhsuk-table__cell">abacavir + lamivudine + dolutegravir</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">31/08/2014</td>
      <td role="cell" class="nhsuk-table__cell">PLGB 35728/0035</td>
      <td role="cell" class="nhsuk-table__cell">TRIUMEQ 50MG/600MG/300MG FILM COATED TAB</td>
      <td role="cell" class="nhsuk-table__cell">VIIV HEALTHCARE UK LIMITED</td>
      <td role="cell" class="nhsuk-table__cell">ViiV Healthcare UK Ltd</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">4</td>
      <td role="cell" class="nhsuk-table__cell">abacavir + lamivudine + zidovudine</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">27/12/2000</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">Trizivir</td>
      <td role="cell" class="nhsuk-table__cell">ViiV Healthcare BV</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">5</td>
      <td role="cell" class="nhsuk-table__cell">abacavir</td>
      <td role="cell" class="nhsuk-table__cell">OCF</td>
      <td role="cell" class="nhsuk-table__cell">08/07/1999</td>
      <td role="cell" class="nhsuk-table__cell">PLGB 35728/0048</td>
      <td role="cell" class="nhsuk-table__cell">ZIAGEN 20 MG/ML ORAL SOLUTION</td>
      <td role="cell" class="nhsuk-table__cell">VIIV HEALTHCARE UK LIMITED</td>
      <td role="cell" class="nhsuk-table__cell">ViiV Healthcare UK Ltd</td>
    </tr>
    <!-- Additional rows here in the same format -->
         <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">6</td>
      <td role="cell" class="nhsuk-table__cell">lamivudine + tenofovir disoproxil + doravirine</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">22/11/2018</td>
      <td role="cell" class="nhsuk-table__cell">PLGB 53095/0015</td>
      <td role="cell" class="nhsuk-table__cell">DELSTRIGO 100 MG/300 MG/245 MG FILM COATED TAB</td>
      <td role="cell" class="nhsuk-table__cell">MERCK SHARP &amp; DOHME (UK) LIMITED</td>
      <td role="cell" class="nhsuk-table__cell">Merck Sharp &amp; Dohme (UK) Ltd</td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">7</td>
      <td role="cell" class="nhsuk-table__cell">lamivudine + dolutegravir</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">01/07/2019</td>
      <td role="cell" class="nhsuk-table__cell">PLGB 35728/0052</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">VIIV HEALTHCARE UK LIMITED</td>
      <td role="cell" class="nhsuk-table__cell">ViiV Healthcare UK Ltd</td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">8</td>
      <td role="cell" class="nhsuk-table__cell">lamivudine + tenofovir disoproxil</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">9</td>
      <td role="cell" class="nhsuk-table__cell">lamivudine</td>
      <td role="cell" class="nhsuk-table__cell">OCF</td>
      <td role="cell" class="nhsuk-table__cell">08/08/1996</td>
      <td role="cell" class="nhsuk-table__cell">PLGB 35728/0031</td>
      <td role="cell" class="nhsuk-table__cell">EPIVIR 10 MG/ML ORAL SOLUTION</td>
      <td role="cell" class="nhsuk-table__cell">VIIV HEALTHCARE UK LIMITED</td>
      <td role="cell" class="nhsuk-table__cell">ViiV Healthcare UK Ltd</td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">10</td>
      <td role="cell" class="nhsuk-table__cell">zidovudine + lamivudine</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">18/03/1998</td>
      <td role="cell" class="nhsuk-table__cell">PLGB 35728/0030</td>
      <td role="cell" class="nhsuk-table__cell">COMBIVIR 150 MG/300 MG FILM-COATED TAB</td>
      <td role="cell" class="nhsuk-table__cell">VIIV HEALTHCARE UK LIMITED</td>
      <td role="cell" class="nhsuk-table__cell">ViiV Healthcare UK Ltd</td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">11</td>
      <td role="cell" class="nhsuk-table__cell">dolutegravir</td>
      <td role="cell" class="nhsuk-table__cell">OCF</td>
      <td role="cell" class="nhsuk-table__cell">16/01/2014</td>
      <td role="cell" class="nhsuk-table__cell">PLGB 35728/0044</td>
      <td role="cell" class="nhsuk-table__cell">DOLUTEGRAVIR (TIVICAY) FILM-COATED TAB</td>
      <td role="cell" class="nhsuk-table__cell">VIIV HEALTHCARE UK LIMITED</td>
      <td role="cell" class="nhsuk-table__cell">ViiV Healthcare UK Ltd</td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">12</td>
      <td role="cell" class="nhsuk-table__cell">dolutegravir + rilpivirine</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">16/05/2018</td>
      <td role="cell" class="nhsuk-table__cell">PLGB 35728/0034</td>
      <td role="cell" class="nhsuk-table__cell">JULUCA 50 MG/25 MG FILM-COATED TAB</td>
      <td role="cell" class="nhsuk-table__cell">VIIV HEALTHCARE UK LIMITED</td>
      <td role="cell" class="nhsuk-table__cell">ViiV Healthcare UK Ltd</td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">13</td>
      <td role="cell" class="nhsuk-table__cell">zidovudine</td>
      <td role="cell" class="nhsuk-table__cell">CGV</td>
      <td role="cell" class="nhsuk-table__cell">03/03/1987</td>
      <td role="cell" class="nhsuk-table__cell">PL 35728/0001</td>
      <td role="cell" class="nhsuk-table__cell">RETROVIR CAPSULES 100MG</td>
      <td role="cell" class="nhsuk-table__cell">VIIV HEALTHCARE UK LIMITED</td>
      <td role="cell" class="nhsuk-table__cell">ViiV Healthcare UK Ltd</td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">14</td>
      <td role="cell" class="nhsuk-table__cell">abatacept</td>
      <td role="cell" class="nhsuk-table__cell">OCF</td>
      <td role="cell" class="nhsuk-table__cell">21/05/2007</td>
      <td role="cell" class="nhsuk-table__cell">PLGB 15105/0134</td>
      <td role="cell" class="nhsuk-table__cell">ORENCIA 125 MG SOLUTION FOR INFUSION</td>
      <td role="cell" class="nhsuk-table__cell">BRISTOL-MYERS SQUIBB PHARMA LTD</td>
      <td role="cell" class="nhsuk-table__cell">Bristol-Myers Squibb Pharmaceuticals Ltd</td>
    </tr>

    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">15</td>
      <td role="cell" class="nhsuk-table__cell">abciximab</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
      <td role="cell" class="nhsuk-table__cell">NA</td>
    </tr>

  </tbody>


</table>
</div>
<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="#">
              <span class="nhsuk-pagination__title">Previous</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">1 -15 results</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z">
                </path>
              </svg>
            </a>
          </li>
          <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
              <span class="nhsuk-pagination__title">Next</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">15-30 results</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2bH5a1 1 0 0 0 0 2h11v2ba.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                </path>
              </svg>
            </a>
          </li>
        </ul>
      </nav>

<div>
        <a href="/v2b/dhsc/ma-data" class="nhsuk-button nhsuk-button--secondary">
            New search
        </a> </div>
        <div>
   <a href="/v2b/dhsc/datasources"  class="nhsuk-button nhsuk-button--secondary">
            Back to dashboard
        </a> 
        </div>
        <!-- End of content -->

    </div>
</div>
{% endblock %}