<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-dhsc.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Pseudo VTMs" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc">Dashboard</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/datasources">View data</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/bm-portal/">Branded medicines data</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/bm-portal/pseudovtm-data-view">View pseudo-vtm list</a>
    </li>
   
  </ol>
  


</nav>

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">



    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl" id="pageHeading">
          <span class="nhsuk-caption-l">Pseudo Virtual Therapeutic Moiety (VTM)</span>
          <span class="nhsuk-u-visually-hidden"> - </span>
          <span id="full-product-name">
            <span id="product-name">PV677</span>
          </span>
        </h1>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-u-position-sticky" style="top: 17px">

        <h2 class="nhsuk-heading-l nhsuk-u-visually-hidden">Navigation</h2>
        <ul class="nhsuk-list">
          <li></li>
          <li><a href="#nameDetails">Name Details</a></li>
          <li><a href="#vtm-ingredients">Ingredient Details</a></li>
          <li><a href="#vtmVmps">Linked Products</a></li>
       
        </ul>

      </div>

      <div class="nhsuk-grid-column-three-quarters">
        

        <section class="name-details-section" id="nameDetails">
  <h2 class="nhsuk-heading-l">Name Details</h2>
  <table class="nhsuk-table nhsuk-table-responsive nhsuk-u-margin-bottom-6">
    <thead class="nhsuk-table__head nhsuk-table__header--sticky">
    <tr>
      <th scope="col" class="nhsuk-table__header" id="name-heading">Name
      </th>
      <th scope="col" class="nhsuk-table__header nhsuk-u-date-width" id="name-start-date-heading">Start Date
      </th>
      <th scope="col" class="nhsuk-table__header nhsuk-u-date-width" id="name-end-date-heading">
        End Date
      </th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell nhsuk-table__cell" id="name-value">
          <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>
          <span>PV677</span>
      </td>
      <td class="nhsuk-table__cell nhsuk-table__cell" id="name-start-date">
          <span class="nhsuk-table-responsive__heading" aria-hidden="true">Start Date </span>
          <span>08-12-2025</span>
      </td>
      <td class="nhsuk-table__cell" id="name-end-date">
          <span class="nhsuk-table-responsive__heading" aria-hidden="true">End Date </span>
          <span> </span>
      </td>
    </tr>

    

    

    
    </tbody>
  </table>
</section>



        <section class="nhsuk-section" id="vtm-ingredients">
          <h2 class="nhsuk-heading-l">Ingredient Details</h2>

          <table id="vtm-ingredients-table" class="nhsuk-table accessible-table--hidden">
            <caption class="nhsuk-u-visually-hidden">VMP ingredients table</caption>
            <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Name</th>
              <th class="nhsuk-table__header" scope="col">Invalid</th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
              Aspirin
              </td>
              <td class="nhsuk-table__cell">
                
              </td>
            </tr>
                    <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
             Metformin
              </td>
              <td class="nhsuk-table__cell">
                
              </td>
            </tr>
                    <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
              Insulin
              </td>
              <td class="nhsuk-table__cell">
                
              </td>
            </tr>
                    <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
             Coke
              </td>
              <td class="nhsuk-table__cell">
                
              </td>
            </tr>


            </tbody>
          </table>

          <div class="accessible-table" hidden="hidden">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <div>
                  <h3 class="nhsuk-heading-s">Name</h3>
                  Metformin
                  <hr aria-hidden="true">
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="" id="vtmVmps">
          <h2 class="nhsuk-heading-l">Linked Products</h2>

          <div class="nhsuk-body-m flex--space-between">
 
    <div class="nhsuk-u-text-align--right">
      <!--   TODO Setup formData parameter handling   -->
      
      <div>
   
        
        
       
      </div>
    </div>
  </div>

          
          <table id="productIngredientTable" class="nhsuk-table accessible-table--hidden">
            <caption class="nhsuk-u-visually-hidden">Products liked to VTM</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header--sticky" scope="col">Name</th>
                <th class="nhsuk-table__header--sticky" scope="col">Discontinued</th>
                <th class="nhsuk-table__header--sticky" scope="col">Invalid</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Provisional Med 1</td>
                <td class="nhsuk-table__cell" style="text-align: center;">
                  
                </td>
                <td class="nhsuk-table__cell" style="text-align: center;">
                  
                </td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Provisional Med 2</td>
                <td class="nhsuk-table__cell" style="text-align: center;">
                  
                </td>
                <td class="nhsuk-table__cell" style="text-align: center;">
                  
                </td>
              </tr>

             
            </tbody>
          </table>




        </section>



      </div>
    </div>




    <!-- End of content -->

  </div>
</div>
{% endblock %}