<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-dhsc.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Pseudo VTMs" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc">Dashboard</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/datasources">View data</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="/v3/dhsc/bm-portal/">Branded medicines data</a>
    </li>
  </ol>
  


</nav>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1>Download the latest pseudo Virtual Therapeutic Moiety (VTMs)</h1>

        <!-- <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>This dataset was last updated on  <span id="date"></span> at <span id="time"></span></p>
</div> -->


         <p>You can <a href="/v3/dhsc/bm-portal/pseudovtm-data-view" class="nhsuk-link">view a list of pseudo VTMs</a> and the number of products associated with each pseudo VTM.</p>


        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Download latest dataset
        </button>

<p>To create a new pseudo-vtm raise a support ticket with the team at xyz@abc.com</p>

     
        <!-- End of content -->

    </div>
</div>
{% endblock %}