{% extends 'layout-dhsc.html' %}
{% set pageName = "Edit reference price" %}

{% block beforeContent %}

{{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <span class="nhsuk-caption-l">Metabet SR 1000mg tablets (Morningside Healthcare Ltd)(28 tablet - 2 x 14 tablets)</span>
        <h1 id="product-name" class="nhsuk-heading-xl">Delete reference price</h1>

        <p>Are you sure you want to delete?</p>
        <p>Reference price: <strong>£6.41</strong></p>
        <p>Reference price type: <strong>	List price of comparator(s) according to dm+d minus 12.5% subject to adjustments</strong></p>
        <p>Reference price start date: <strong>15 October 2025</strong></p>
        <p>Reference price end date: <strong>14 October 2028</strong></p>

        <p>This action cannot be undone.</p>
      
      
      <div class="nhsuk-button-group">
        {{ button({
          text: "Yes, delete this reference price",
          classes: "nhsuk-button--warning",
          href: "/v5/dhsc/product-details?deleted=true"
        }) }}
      
        {{ button({
          text: "Cancel",
          classes: "nhsuk-button--secondary",
          href: "/v5/dhsc"
        }) }}
      </div>
    </div>
</div>
{% endblock %}