<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}

{% set pageName = "Prototye Home" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

   


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-xl">
        {{ serviceName }}
      </h1>

     
<table class="nhsuk-table-responsive" role="table">
  <caption class="nhsuk-table__caption">Prototype versions and documentation</caption>
  <thead class="nhsuk-table__head" role="rowgroup">
    <tr role="row">
      <th scope="col" class="nhsuk-table__header " role="columnheader">Version</th>
     
      <th scope="col" class="nhsuk-table__header " role="columnheader">What changed</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row" role="row">
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Version </span>
      <a href="/v1/index">Version 1 - August 2025</a></td>
  
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">What changed </span>As is version presented to DHSC</td>
    </tr>

        <tr class="nhsuk-table__row" role="row">
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Version </span>
      <a href="/v2/index">Version 2 - November 2025</a></td>
  
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">What changed </span>Designed based on discovery insights and business requirements</td>
    </tr>
        <tr class="nhsuk-table__row" role="row">
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Version </span>
      <a href="/v2b/index">Version 2b - November 2025</a></td>
  
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">What changed </span>Designed based on current technical feasibility, inability to view historical data</td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Version </span>
      <a href="/v3/index">Version 3 - January 2026</a></td>
  
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">What changed </span>Updated designs based on version 8 requirements for the track portion</td>
    </tr>
  </tbody>
</table>
      

    </div>
  </div>
{% endblock %}
