{% extends "layout.html" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% set pageName = "Blank transactional template" %}

{% block beforeContent %}
  {{ backLink({
    href: "#",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
 <tbody class="nhsuk-table__body">
  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">C08DA01</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg tablets 56 pack</td>
    <td role="cell" class="nhsuk-table__cell">A A H Pharma</td>
    <td role="cell" class="nhsuk-table__cell">A A H Pharma Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">31447010C</td>
    <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
    <td role="cell" class="nhsuk-table__cell">tablet</td>
    <td role="cell" class="nhsuk-table__cell">160 mg</td>
    <td role="cell" class="nhsuk-table__cell">56</td>
    <td role="cell" class="nhsuk-table__cell">£44.20</td>
    <td role="cell" class="nhsuk-table__cell">2025-06-06</td>
    <td role="cell" class="nhsuk-table__cell">£48.62</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0206020</td>
    <td role="cell" class="nhsuk-table__cell">BNF_02060200</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">C08DA01</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg tablets 100 pack</td>
    <td role="cell" class="nhsuk-table__cell">A A H Pharma</td>
    <td role="cell" class="nhsuk-table__cell">A A H Pharma Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">31447010C</td>
    <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
    <td role="cell" class="nhsuk-table__cell">tablet</td>
    <td role="cell" class="nhsuk-table__cell">160 mg</td>
    <td role="cell" class="nhsuk-table__cell">100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">£4.61</td>
    <td role="cell" class="nhsuk-table__cell">No Price Available</td>
    <td role="cell" class="nhsuk-table__cell">Discontinued Flag</td>
    <td role="cell" class="nhsuk-table__cell">2004-08-05</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0206020</td>
    <td role="cell" class="nhsuk-table__cell">BNF_02060200</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">C08DA01</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg tablets 56 pack</td>
    <td role="cell" class="nhsuk-table__cell">A A H Pharma</td>
    <td role="cell" class="nhsuk-table__cell">A A H Pharma Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">31447010C</td>
    <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
    <td role="cell" class="nhsuk-table__cell">tablet</td>
    <td role="cell" class="nhsuk-table__cell">160 mg</td>
    <td role="cell" class="nhsuk-table__cell">56</td>
    <td role="cell" class="nhsuk-table__cell">£44.20</td>
    <td role="cell" class="nhsuk-table__cell">2025-06-06</td>
    <td role="cell" class="nhsuk-table__cell">£48.62</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0206020</td>
    <td role="cell" class="nhsuk-table__cell">BNF_02060200</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">C08DA01</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Verapamil 160 mg tablets 100 pack</td>
    <td role="cell" class="nhsuk-table__cell">A A H Pharma</td>
    <td role="cell" class="nhsuk-table__cell">A A H Pharma Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">31447010C</td>
    <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
    <td role="cell" class="nhsuk-table__cell">tablet</td>
    <td role="cell" class="nhsuk-table__cell">160 mg</td>
    <td role="cell" class="nhsuk-table__cell">100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">£4.61</td>
    <td role="cell" class="nhsuk-table__cell">No Price Available</td>
    <td role="cell" class="nhsuk-table__cell">Discontinued Flag</td>
    <td role="cell" class="nhsuk-table__cell">2004-08-05</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0206020</td>
    <td role="cell" class="nhsuk-table__cell">BNF_02060200</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">A10BA02</td>
    <td role="cell" class="nhsuk-table__cell">Metformin 500 mg</td>
    <td role="cell" class="nhsuk-table__cell">Metformin 500 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Metformin 500 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Metformin 500 mg 28 pack</td>
    <td role="cell" class="nhsuk-table__cell">Generic Pharma</td>
    <td role="cell" class="nhsuk-table__cell">Generic Pharma Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">GP-123456</td>
    <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
    <td role="cell" class="nhsuk-table__cell">tablet</td>
    <td role="cell" class="nhsuk-table__cell">500 mg</td>
    <td role="cell" class="nhsuk-table__cell">28</td>
    <td role="cell" class="nhsuk-table__cell">£13.50</td>
    <td role="cell" class="nhsuk-table__cell">2024-03-15</td>
    <td role="cell" class="nhsuk-table__cell">£14.00</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0601010</td>
    <td role="cell" class="nhsuk-table__cell">BNF_06010100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">N02BA01</td>
    <td role="cell" class="nhsuk-table__cell">Paracetamol 500 mg</td>
    <td role="cell" class="nhsuk-table__cell">Paracetamol 500 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Paracetamol 500 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Paracetamol 500 mg 16 pack</td>
    <td role="cell" class="nhsuk-table__cell">Pain Relief Inc.</td>
    <td role="cell" class="nhsuk-table__cell">Pain Relief Inc.</td>
    <td role="cell" class="nhsuk-table__cell">PRI-098765</td>
    <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
    <td role="cell" class="nhsuk-table__cell">tablet</td>
    <td role="cell" class="nhsuk-table__cell">500 mg</td>
    <td role="cell" class="nhsuk-table__cell">16</td>
    <td role="cell" class="nhsuk-table__cell">£9.50</td>
    <td role="cell" class="nhsuk-table__cell">2023-12-01</td>
    <td role="cell" class="nhsuk-table__cell">£9.80</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0401010</td>
    <td role="cell" class="nhsuk-table__cell">BNF_04010100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">J01CA04</td>
    <td role="cell" class="nhsuk-table__cell">Amoxicillin 500 mg</td>
    <td role="cell" class="nhsuk-table__cell">Amoxicillin 500 mg capsules</td>
    <td role="cell" class="nhsuk-table__cell">Amoxicillin 500 mg capsules</td>
    <td role="cell" class="nhsuk-table__cell">Amoxicillin 500 mg 21 pack</td>
    <td role="cell" class="nhsuk-table__cell">MediCare Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">MediCare Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">MC-112233</td>
    <td role="cell" class="nhsuk-table__cell">Capsule</td>
    <td role="cell" class="nhsuk-table__cell">capsule</td>
    <td role="cell" class="nhsuk-table__cell">500 mg</td>
    <td role="cell" class="nhsuk-table__cell">21</td>
    <td role="cell" class="nhsuk-table__cell">£17.50</td>
    <td role="cell" class="nhsuk-table__cell">2024-05-10</td>
    <td role="cell" class="nhsuk-table__cell">£18.00</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0501010</td>
    <td role="cell" class="nhsuk-table__cell">BNF_05010100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">C09AA05</td>
    <td role="cell" class="nhsuk-table__cell">Ramipril 10 mg</td>
    <td role="cell" class="nhsuk-table__cell">Ramipril 10 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Ramipril 10 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Ramipril 10 mg 30 pack</td>
    <td role="cell" class="nhsuk-table__cell">HeartCare Pharma</td>
    <td role="cell" class="nhsuk-table__cell">HeartCare Pharma Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">HC-223344</td>
    <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
    <td role="cell" class="nhsuk-table__cell">tablet</td>
    <td role="cell" class="nhsuk-table__cell">10 mg</td>
    <td role="cell" class="nhsuk-table__cell">30</td>
    <td role="cell" class="nhsuk-table__cell">£12.00</td>
    <td role="cell" class="nhsuk-table__cell">2024-01-20</td>
    <td role="cell" class="nhsuk-table__cell">£12.50</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0207010</td>
    <td role="cell" class="nhsuk-table__cell">BNF_02070100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">R03AC02</td>
    <td role="cell" class="nhsuk-table__cell">Salbutamol 100 mcg</td>
    <td role="cell" class="nhsuk-table__cell">Salbutamol 100 mcg inhaler</td>
    <td role="cell" class="nhsuk-table__cell">Salbutamol 100 mcg inhaler</td>
    <td role="cell" class="nhsuk-table__cell">Salbutamol 100 mcg 200-dose inhaler</td>
    <td role="cell" class="nhsuk-table__cell">Respira Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">Respira Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">RS-334455</td>
    <td role="cell" class="nhsuk-table__cell">Inhaler</td>
    <td role="cell" class="nhsuk-table__cell">inhaler</td>
    <td role="cell" class="nhsuk-table__cell">100 mcg</td>
    <td role="cell" class="nhsuk-table__cell">200</td>
    <td role="cell" class="nhsuk-table__cell">£19.50</td>
    <td role="cell" class="nhsuk-table__cell">2024-07-18</td>
    <td role="cell" class="nhsuk-table__cell">£20.00</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0306010</td>
    <td role="cell" class="nhsuk-table__cell">BNF_03060100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">G03CA01</td>
    <td role="cell" class="nhsuk-table__cell">Ethinylestradiol 30 mcg</td>
    <td role="cell" class="nhsuk-table__cell">Ethinylestradiol 30 mcg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Ethinylestradiol 30 mcg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Contraceptive 21 pack</td>
    <td role="cell" class="nhsuk-table__cell">FemCare</td>
    <td role="cell" class="nhsuk-table__cell">FemCare Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">FC-445566</td>
    <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
    <td role="cell" class="nhsuk-table__cell">tablet</td>
    <td role="cell" class="nhsuk-table__cell">30 mcg</td>
    <td role="cell" class="nhsuk-table__cell">21</td>
    <td role="cell" class="nhsuk-table__cell">£22.00</td>
    <td role="cell" class="nhsuk-table__cell">2023-11-05</td>
    <td role="cell" class="nhsuk-table__cell">£22.50</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0701010</td>
    <td role="cell" class="nhsuk-table__cell">BNF_07010100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">M01AE01</td>
    <td role="cell" class="nhsuk-table__cell">Ibuprofen 200 mg</td>
    <td role="cell" class="nhsuk-table__cell">Ibuprofen 200 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Ibuprofen 200 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Ibuprofen 200 mg 24 pack</td>
    <td role="cell" class="nhsuk-table__cell">ReliefPlus</td>
    <td role="cell" class="nhsuk-table__cell">ReliefPlus Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">RP-556677</td>
    <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
    <td role="cell" class="nhsuk-table__cell">tablet</td>
    <td role="cell" class="nhsuk-table__cell">200 mg</td>
    <td role="cell" class="nhsuk-table__cell">24</td>
    <td role="cell" class="nhsuk-table__cell">£13.00</td>
    <td role="cell" class="nhsuk-table__cell">2024-02-25</td>
    <td role="cell" class="nhsuk-table__cell">£13.50</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_1001010</td>
    <td role="cell" class="nhsuk-table__cell">BNF_10010100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">L01XE01</td>
    <td role="cell" class="nhsuk-table__cell">Imatinib 100 mg</td>
    <td role="cell" class="nhsuk-table__cell">Imatinib 100 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Imatinib 100 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Imatinib 100 mg 30 pack</td>
    <td role="cell" class="nhsuk-table__cell">OncoPharma</td>
    <td role="cell" class="nhsuk-table__cell">OncoPharma Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">OP-667788</td>
    <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
    <td role="cell" class="nhsuk-table__cell">tablet</td>
    <td role="cell" class="nhsuk-table__cell">100 mg</td>
    <td role="cell" class="nhsuk-table__cell">30</td>
    <td role="cell" class="nhsuk-table__cell">£350.00</td>
    <td role="cell" class="nhsuk-table__cell">2024-06-12</td>
    <td role="cell" class="nhsuk-table__cell">£360.00</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0802010</td>
    <td role="cell" class="nhsuk-table__cell">BNF_08020100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">R03AK06</td>
    <td role="cell" class="nhsuk-table__cell">Ipratropium bromide 20 mcg</td>
    <td role="cell" class="nhsuk-table__cell">Ipratropium 20 mcg inhaler</td>
    <td role="cell" class="nhsuk-table__cell">Ipratropium 20 mcg inhaler</td>
    <td role="cell" class="nhsuk-table__cell">Ipratropium 20 mcg 200-dose inhaler</td>
    <td role="cell" class="nhsuk-table__cell">BreatheRight Pharma</td>
    <td role="cell" class="nhsuk-table__cell">BreatheRight Pharma Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">BR-778899</td>
    <td role="cell" class="nhsuk-table__cell">Inhaler</td>
    <td role="cell" class="nhsuk-table__cell">inhaler</td>
    <td role="cell" class="nhsuk-table__cell">20 mcg</td>
    <td role="cell" class="nhsuk-table__cell">200</td>
    <td role="cell" class="nhsuk-table__cell">£22.00</td>
    <td role="cell" class="nhsuk-table__cell">2024-04-07</td>
    <td role="cell" class="nhsuk-table__cell">£22.50</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0308010</td>
    <td role="cell" class="nhsuk-table__cell">BNF_03080100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">C10AA05</td>
    <td role="cell" class="nhsuk-table__cell">Atorvastatin 20 mg</td>
    <td role="cell" class="nhsuk-table__cell">Atorvastatin 20 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Atorvastatin 20 mg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Atorvastatin 20 mg 28 pack</td>
    <td role="cell" class="nhsuk-table__cell">CardioHealth</td>
    <td role="cell" class="nhsuk-table__cell">CardioHealth Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">CH-889900</td>
    <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
    <td role="cell" class="nhsuk-table__cell">tablet</td>
    <td role="cell" class="nhsuk-table__cell">20 mg</td>
    <td role="cell" class="nhsuk-table__cell">28</td>
    <td role="cell" class="nhsuk-table__cell">£18.00</td>
    <td role="cell" class="nhsuk-table__cell">2024-08-15</td>
    <td role="cell" class="nhsuk-table__cell">£18.50</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0208010</td>
    <td role="cell" class="nhsuk-table__cell">BNF_02080100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell">H03AA01</td>
    <td role="cell" class="nhsuk-table__cell">Levothyroxine 50 mcg</td>
    <td role="cell" class="nhsuk-table__cell">Levothyroxine 50 mcg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Levothyroxine 50 mcg tablets</td>
    <td role="cell" class="nhsuk-table__cell">Levothyroxine 50 mcg 28 pack</td>
    <td role="cell" class="nhsuk-table__cell">ThyroCare</td>
    <td role="cell" class="nhsuk-table__cell">ThyroCare Ltd.</td>
    <td role="cell" class="nhsuk-table__cell">TC-990011</td>
    <td role="cell" class="nhsuk-table__cell">Oral tablet</td>
    <td role="cell" class="nhsuk-table__cell">tablet</td>
    <td role="cell" class="nhsuk-table__cell">50 mcg</td>
    <td role="cell" class="nhsuk-table__cell">28</td>
    <td role="cell" class="nhsuk-table__cell">£11.50</td>
    <td role="cell" class="nhsuk-table__cell">2024-09-01</td>
    <td role="cell" class="nhsuk-table__cell">£12.00</td>
    <td role="cell" class="nhsuk-table__cell">NHS Indicative Price</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
    <td role="cell" class="nhsuk-table__cell">BNF_0603010</td>
    <td role="cell" class="nhsuk-table__cell">BNF_06030100</td>
    <td role="cell" class="nhsuk-table__cell">Not available</td>
  </tr>
</tbody>

{% endblock %}
